spring:
  rabbitmq:
    addresses: jp.huapengfei.com:33672
    username: root
    password: HpFProd2)@3
    virtual-host: /prod
#    template:
#      retry:
#        enabled: true
#        initial-interval: 1s
#        max-attempts: 3
#        multiplier: 1
#        max-interval: 1s
#    listener:
#      type: direct
#      direct:
#        acknowledge-mode: auto
#        consumers-per-queue: 10
#        retry:
#          enabled: true
#          initial-interval: 1s
#          max-attempts: 3
#          max-interval: 10s
#          multiplier: 2.5
#      simple:
#        concurrency: 20
#        prefetch:
#        acknowledge-mode: manual
#
#    publisher-returns: true
#    publisher-confirm-type: correlated
logging:
  level:
    com:
      rabbitmq:
        client: debug