<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.goudan.dao.mapper.UserMapper">

    <resultMap type="online.goudan.dao.domain.UserDO" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="thirdAccountId" column="third_account_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="loginType" column="login_type" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into demo.user(third_account_id, user_name, password, login_type, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.thirdAccountId}, #{entity.userName}, #{entity.password}, #{entity.loginType}, #{entity.deleted},
            #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into demo.user(third_account_id, user_name, password, login_type, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.thirdAccountId}, #{entity.userName}, #{entity.password}, #{entity.loginType}, #{entity.deleted},
            #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        third_account_id = values(third_account_id) , user_name = values(user_name) , password = values(password) ,
        login_type = values(login_type) , deleted = values(deleted) , create_time = values(create_time) , update_time =
        values(update_time)
    </insert>

</mapper>

