<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.goudan.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="online.goudan.domain.Student">
    <!--@mbg.generated-->
    <!--@Table student-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, sex, age, sign, teacher_id, create_time, update_time, is_deleted
  </sql>
</mapper>